body {
    margin: 0;
    padding: 0;
}

.con {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: black;
}

.header {
    background-color: gray;
}

.main {
    background-color: lightgrey;
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr;
}