@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat-italic";
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
    --text: rgb(235, 233, 252);
    --background: rgb(1, 1, 4);
    --primary: rgb(58, 49, 216);
    --secondary: rgb(2, 0, 36);
    --accent: rgb(6, 0, 194);
    --linearPrimarySecondary: linear-gradient(#3a31d8, #020024);
    --linearPrimaryAccent: linear-gradient(#3a31d8, #0600c2);
    --linearSecondaryAccent: linear-gradient(#020024, #0600c2);
    --radialPrimarySecondary: radial-gradient(#3a31d8, #020024);
    --radialPrimaryAccent: radial-gradient(#3a31d8, #0600c2);
    --radialSecondaryAccent: radial-gradient(#020024, #0600c2);


    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.con {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    background-color: rgb(29, 29, 29);
    padding: 10px 30px;
    color: white;
    display: grid;
    grid-template-rows: 70px 300px 1fr;
    gap: 40px;
}

.dashboard > div{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(81, 77, 90);
}

.sidecon > div{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.opt1 {
    align-self: start;
}

.opt2 {
    align-self: end;
}

.sidebar img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(234deg) brightness(107%) contrast(101%);
    height: 25px;
    width: 25px;
    justify-self: center;
}

header {
    background-color: rgb(44, 45, 48);
}

.main {
    background-color: rgb(81, 77, 90);
}

.container {
    display: grid;
    grid-template-rows: 150px 1fr;
}